.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.cardsprint {
  text-align: left;
  align-items: left;
  justify-content: left;
  border: 5px solid black;
  margin: 50px 10px 50px 10px;
  font-weight: bold;
}

.cardsprintheader {
  background-color: purple;
  color: lightgray;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
}

.cardsprintheaderline {
  padding: 10px 5px;
}

.cardsprintheaderbutton {
  float: right;  
  font-size: 1.25rem;
}

.cardsprintbody {
  padding: 20px;
  font-size: 1rem;
}

.sprintinfo {
  display: flex;
}

.sprintlabel {
  flex: 0 0 20%;
  text-align: right;
  font-weight: bold;
  padding-right: 0.5rem;
}

.sprintdesc {
  flex: 1;
  text-align: left;
}

.cardday {
  text-align: left;
  align-items: left;
  justify-content: left;
  border: 2px solid purple;
  margin: 10px 50px 10px 50px;
  font-weight: bold;
}

.carddayheader {
  background-color: lightgrey;
  color: purple;
  padding: 15px;
  font-weight: bold;
  font-size: 0.9rem;
}

.carddayheaderline {
  padding: 10px 5px;
}

.carddayheaderbutton {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.25rem;
}

.carddaybody {
  padding: 20px;
  font-size: 0.9rem;
}

